<div class="container p-4 mt-5 text-center text-white bg-black rounded bg-opacidad">
  <div class="row">
    <div class="col-12 my-2">
      <div class="bg-warning p-3 text-black text-center rounded" >Cuantas {{categoria}} hay en la palabra: <strong>{{palabra.palabra}}</strong></div>
    </div>
    <div class="col-6 my-2" *ngFor="let opcion of opciones" >
      <button type="button" class="btn btn-info btn-lg  w-100 text-white btn-opcion" data-bs-toggle="modal" data-bs-target="#acerto" (click)="guardarRespuesta(opcion)" [disabled]="!botonesHabilitados">{{opcion}}</button>
    </div>
    <div class="col-12 my-2">
      <button type="button" class="btn btn-danger btn-lg  px-5 mt-4 text-center" (click)="jugar()" *ngIf="mostrarBotonJugar">Jugar</button>
    </div>
  </div>
</div>
<!-- Mensaje de Acierto -->
  <div class="modal fade" id="acerto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" *ngIf="respuesta.acerto">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content bg-success text-black">
        <!-- Modal Header -->
        <div class="modal-header ">
          <h4 class="modal-title"><i class="bi bi-joystick"> Juego</i></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row text-center">
            <div class="col-12 my-2">
              <p>Has acertado!! </p>
              <button type="button" class="btn btn-dark btn-lg  px-5 mt-4 text-center" (click)="jugar()" data-bs-dismiss="modal">Jugar de Nuevo</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>