app-root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background:  linear-gradient(to bottom, #ABEBC6, #A569BD );*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/ilustracion-texturas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}   

main{
    flex: 1;
}

.bg-opacidad{
    opacity: 0.8;
}