<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container-fluid ">
        <button class="navbar-toggler container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-sm-0 text-center">
                <li class="nav-item mx-2" *ngFor="let item of rutas">
                    <a class="nav-link" [routerLink]="[item.titulo]">
                        <i class="bi bi-{{item.icono}}"></i>
                        {{item.titulo|titlecase}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>