*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #eee;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/foto-gratis/fondo-tecnologia-moderna-plexo-baja-poli_1048-14278.jpg?w=1060&t=st=1712803680~exp=1712804280~hmac=cbbc6e6fc51ec24b4c1a548843bf1bc1357b1472328d0463fd7a584366fbd0c8');
    background-size: cover;
    background-position: center;
}
header{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px; /*vertical horizontal*/
}
/*Elementos del header*/
.header-logo {
    width: 30%;
}
.header-opciones{
    width: 65%; 
    display: flex;
    align-items: center;
    overflow: hidden;
}
/*Elementos del header-logo*/
.header-logo-name{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 15px;
}
.header-logo-name img{
    width: auto;
    height: 100%;
}
/*Elementos de header-opciones*/
.header-opciones ul{
    width: 100%;
    display: flex;
    justify-content:end;
    padding-right: 150px;
    gap: 40px;
}
.header-opciones a{
    display: inline-block;
    transition: transform 0.3s ease;
}
.header-opciones a:hover{
    transform: scale(1.2);
}
main{    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
}
.section-titulo{
    background-color: rgba(88, 83, 83, 0.1) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.section-titulo h2{
    font-size: 2.5em;
}
.section-titulo h3{
    font-size: 1.5em;
}
footer{
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    gap: 35px;
}
footer section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
footer section h3,footer section ul{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}