

.section-opciones{
   padding-inline: 20px;
   background-color: #006699;
}
.section-categorias{
    display: flex;
    justify-content: center;
}
.section-categorias div {
    width: 150px;
    border: red solid 2px;
    border-radius: 7px;
}




.section-mas-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
article{
    border: red solid 2px;
    border-radius: 7px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px auto;
    text-align: center;
    gap:15px;
}

article h2{
    border: blue solid 2px;
    border-radius: 7px;
    color: #deedf7;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
article div{
    background-color: #006699;
    border: blueviolet solid 2px;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.article-organismos div:last-child{
    grid-column: span 4;
    height: 20px;
    border-radius: 0;
    background-color: #abcee1;
    color: #023149;
}
article .item:nth-child(2){
    grid-column: span 4;
    display: flex;
    gap:15px;
    padding-inline: 0;
    background-color: transparent;
}

article .item{
    grid-column: span 1;
}
